<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
            margin-top: 80px;
        }

        #header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            background-color: #F2F2F2;
            display: flex;
            justify-content: space between;
            align-items: center;
            padding: 14px;
            z-index: 1000;
        }

        #logo-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        #usuario {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-right: 20px;
            width: 50px;
        }

        #links {
            display: flex;
            gap: 20px;
            align-items: left;
            justify-content: flex-start;
            margin-left: 15px;
        }

        #links a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        #footer {
            background-color: #F2F2F2;
            padding: 10px;
            width: 100%;
        }
    </style>

    <script>
        
        function mostrarCapitais() {
            var estadoSelecionado = document.getElementById("estado").value;
            var capitalSelect = document.getElementById("capital");

            
            while (capitalSelect.options.length > 0) {
                capitalSelect.remove(0);
            }

            
            if (estadoSelecionado) {
                capitalSelect.style.display = "block";

            
                var options = [];
                if (estadoSelecionado === "AC") {
                    options = ["Rio Branco"];
                } else if (estadoSelecionado === "AL") {
                    options = ["Maceió"];
                } else if (estadoSelecionado === "AP") {
                    options = ["Macapá"];
                } else if (estadoSelecionado === "AM") {
                    options = ["Manaus"];
                } else if (estadoSelecionado === "BA") {
                    options = ["Salvador"];
                } else if (estadoSelecionado === "CE") {
                    options = ["Fortaleza"];
                } else if (estadoSelecionado === "DF") {
                    options = ["Brasília"];
                } else if (estadoSelecionado === "ES") {
                    options = ["Vitória"];
                } else if (estadoSelecionado === "GO") {
                    options = ["Goiânia"];
                } else if (estadoSelecionado === "MA") {
                    options = ["São Luís"];
                } else if (estadoSelecionado === "MT") {
                    options = ["Cuiabá"];
                } else if (estadoSelecionado === "MS") {
                    options = ["Campo Grande"];
                } else if (estadoSelecionado === "MG") {
                    options = ["Belo Horizonte"];
                } else if (estadoSelecionado === "PA") {
                    options = ["Belém"];
                } else if (estadoSelecionado === "PB") {
                    options = ["João Pessoa"];
                } else if (estadoSelecionado === "PR") {
                    options = ["Curitiba"];
                } else if (estadoSelecionado === "PE") {
                    options = ["Recife"];
                } else if (estadoSelecionado === "PI") {
                    options = ["Teresina"];
                } else if (estadoSelecionado === "RJ") {
                    options = ["Rio de Janeiro", "Niterói", "Campos"];
                } else if (estadoSelecionado === "RN") {
                    options = ["Natal"];
                } else if (estadoSelecionado === "RS") {
                    options = ["Porto Alegre"];
                } else if (estadoSelecionado === "RO") {
                    options = ["Porto Velho"];
                } else if (estadoSelecionado === "RR") {
                    options = ["Boa Vista"];
                } else if (estadoSelecionado === "SC") {
                    options = ["Florianópolis"];
                } else if (estadoSelecionado === "SP") {
                    options = ["São Paulo", "Campinas", "Santos"];
                } else if (estadoSelecionado === "SE") {
                    options = ["Aracaju"];
                } else if (estadoSelecionado === "TO") {
                    options = ["Palmas"];
                }

                for (var i = 0; i < options.length; i++) {
                    var option = document.createElement("option");
                    option.text = options[i];
                    option.value = options[i];
                    capitalSelect.add(option);
                }
            }
        }

 
        function mostrarSelecoes() {
            var estadoSelecionado = document.getElementById("estado").value;
            var capitalSelecionada = document.getElementById("capital").value;
            var horasSol = parseFloat(document.getElementById("horaspordia").value); 
            var tamanho = 4;
            var resultadoDiv = document.getElementById("resultado");
            resultadoDiv.innerHTML = ""; 
            if (estadoSelecionado && capitalSelecionada && !isNaN(horasSol)) {
                var valoresCapitais = {
                    "Rio Branco": 4560,
                    "Maceió": 5523,
                    "Macapá": 4944,
                    "Manaus": 4323,
                    "Salvador": 5365,
                    "Fortaleza": 5776,
                    "Brasília": 5252,
                    "Vitória": 4957,
                    "Goiânia": 5247,
                    "São Luís": 5208,
                    "Cuiabá": 5106,
                    "Campo Grande": 5031,
                    "Belo Horizonte": 5129,
                    "Belém": 4864,
                    "João Pessoa": 5530,
                    "Curitiba": 4194,
                    "Recife": 5462,
                    "Teresina": 5572,
                    "Rio de Janeiro": 4732,
                    "Porto Alegre": 4430,
                    "Natal": 5674,
                    "Porto Velho": 4480,
                    "Boa Vista": 4886,
                    "Florianópolis": 4251,
                    "São Paulo": 4450,
                    "Aracaju": 5496,
                    "Palmas": 5218
                };
                var valorCapital = valoresCapitais[capitalSelecionada];
                if (valorCapital !== undefined) {
                    var eficiencia = 0.26;
                    var result = tamanho * horasSol * eficiencia * valorCapital;
                    resultadoDiv.innerHTML = "Resultado do cálculo: " + result.toFixed(2) + " kWh";
                } else {
                    resultadoDiv.innerHTML = "Valor não encontrado para a capital selecionada.";
                }
            } else {
                resultadoDiv.innerHTML = "Por favor, selecione um estado, uma capital e insira a quantidade de horas de sol disponíveis antes de calcular.";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("button").addEventListener("click", function(event) {
                event.preventDefault(); // Evita o envio automático do formulário
                mostrarSelecoes();
            });
        });
    </script>
</head>
<body>
    <div id="header">
        <div id="logo-container">
            <div id="simbolo">
                <img src="{% static 'logo/ECNTdesign.png' %}" alt="Símbolo ECOnnect" id="logo-design" style="width: 50px; height: auto;">
            </div>
            <div id="logo-principal">
                <img src="{% static 'logo/ECNTlogo.png' %}" alt="Logo ECOnnect" style="width: 150px; height: auto;">
            </div>
            <div id="links">
                <a href="{% url 'area' %}">Área Disponível</a>
                <a href="{% url 'calculadora'%}">Calculadora Solar</a>
                <a href="{% url 'potencial'%}">Potencial de Energia</a>
                <a href="{% url 'orcamento'%}">Orçamento</a>
            </div>
        </div>
        <div id="usuario">
            <img src="{% static 'logo/user.png' %}" alt="Símbolo User" style="width: 40px; height: auto;">
        </div>
    </div>

    <form id="estado-form">
        <h2><label for="estado">Escolha um Estado:</label></h2>
        <select id="estado" name="estado" onchange="mostrarCapitais()">
            <option value="">Selecione um Estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>

        <h2><label for="capital">Escolha uma Capital:</label></h2>
        <select id="capital" name="capital" style="display: none;">
            <option value="">Selecione um Estado primeiro</option>
        </select>
    </form>
    <form id="calculo-form" onsubmit="mostrarSelecoes(event)">
        <label>
            <h2>Insira a quantidade de horas de sol disponível:</h2>
            <input
                type="text"
                id="horaspordia"
                name="horaspordia"
                placeholder="Horas/dia"
            />
        </label>
        <button type="submit" id="button">Calcular</button>
    </form>

    <div id="resultado"></div>
</body>
</html>
